<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <title>My Gym Locator</title>
    <!-- <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' /> -->
    <meta name='viewport' content='width=device-width, intial-scale=1.0'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/responsiveness.css"/>
</head>

<body>
    <div class="col-3 sidebar">
        <div class="heading">
            <h4>Centers</h4>
        </div>
        <dif class="filters" id="filters">
            <button class="filter-button active" onclick="filterRegion('all')">All</button>
        </dif>
        <div class="listings" id="listings"></div>
    </div>
    <div id="map" class="col-9 map"></div>

    <script>
        // Old browsers compatibility
        if (!("remove" in Element.prototype)) {
            Element.prototype.remove = function() {
                if (this.parentNode) {
                    this.parentNode.removeChild(this);
                }
            };
        }
    </script>

    <script>
        mapboxgl.accessToken = <%- mapbox_api_key %>;

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11?optimize=true',
            center: [18.070, 59.322],   // Center it on Stockholm, Sweden
            zoom: 10,
            customAttribution: "<span style=\"color:#404040;\">Made with <3 by <a style=\"text-decoration: underline;\" href=\"https://redouane-dev.github.io/\" target=\"_blank\">Redouane Achouri</a></span>"
        });

        // Add zoom and rotation controls to the map.
        map.addControl(new mapboxgl.NavigationControl());

        map.on('load', function () {
            let jsonData = <%- data %>;

            map.addSource('centers', {
                "type": "geojson",
                "data": jsonData,
            });

            // Populate the map with markers
            populateMap(jsonData['features']);

            // Add the listing
            buildCentersList(jsonData['features']);

            // Change the cursor to a pointer when the mouse is over the centers layer.
            map.on('mouseenter', 'centers', function () {
                map.getCanvas().style.cursor = 'pointer';
            });

            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'centers', function () {
                map.getCanvas().style.cursor = '';
            });

            // filterTime(jsonData, null, 22 * 60);
        });

    </script>

    <script>
        function populateMap(data) {
            data.forEach((feature, idx) => {

                let region = feature['properties']['region'].split(/\s/)[0].trim();

                // Create a div element for the marker
                let el = document.createElement('div');
                el.id = 'marker-' + idx;
                el.classList.add('marker');
                el.classList.add(region);

                // By the image for the marker will be anchored by its center. We'll adjust accordingly
                new mapboxgl.Marker(el, { offset: [0, -14] })
                    .setLngLat(feature['geometry']['coordinates'])
                    .addTo(map);

                el.addEventListener('click', (e) => {
                    // Fly the point associated with the clicked link
                    flyToCenter(feature);
                    // Close all popups and display popup for the clicked store
                    createPopUp(feature);
                    // Highlight listing in sidebar and remove highlighting for other listings
                    e.stopPropagation();
                    let activeListings = document.querySelectorAll('.listing, .active');
                    Array.prototype.forEach.call(activeListings, (listing) => listing.classList.remove('active'));

                    let listing = document.getElementById('listing-' + idx);
                    listing.classList.add('active');
                });
            });
        }

        function buildCentersList(data) {
            // Get the listing DOM element
            let listings = document.getElementById('listings');
            let filters = document.getElementById('filters');

            // Transform the list of centers (elements) into map markers
            data.forEach((feature, idx) => {

                // Store the region name for later use it to filter centers by region (Stockholm, Oslo, ...)
                let region = feature['properties']['region'].split(/\s/)[0].trim();

                // Create an HTML div container with class 'listing' for each center
                let listing = listings.appendChild(document.createElement('div'));
                listing.id = 'listing-' + idx;
                listing.classList.add('listing');
                listing.classList.add(region);

                // Create a link with class 'title' for each center and fill it with the center name
                let title = listing.appendChild(document.createElement('a'));
                title.href = '#';
                title.className = 'title';
                title.dataPosition = idx;
                title.innerHTML = feature['properties']['title'];
                title.addEventListener('click', (e) => {
                    // Update the currentCenter to the center associated with the clicker link
                    let clickedListing = feature;

                    // Fly the point associated with the clicked link
                    flyToCenter(clickedListing);

                    // Close all popups and display popup for the clicked store
                    createPopUp(clickedListing);

                    // Highlight listing in sidebar and remove highlighting for other listings
                    let activeListings = document.querySelectorAll('.listing, .active');
                    Array.prototype.forEach.call(activeListings, (listing) => listing.classList.remove('active'));

                    title.parentNode.classList.add('active');    // Make the whole parent (not only the actual title) active
                });

                // Create a div with class 'details' for storing misc information
                let details = listing.appendChild(document.createElement('div'));
                // details.innerHTML = "<a href='" + feature['properties']['url'] + "' target='_blank'>Link</a>";
                details.innerHTML = `<a href='${feature['properties']['url']}' target='_blank'>Link</a>`;

                // Create filter buttons
                if (document.getElementById(region) === null) {
                    let filterButton = document.createElement('button');
                    filterButton.id = region;
                    filterButton.classList.add('filter-button');

                    // Set the button text to first letter upper case
                    filterButton.innerText = region[0].toUpperCase() + region.slice(1);
                    filterButton.onclick = () => filterRegion(filterButton, region);
                    filters.appendChild(filterButton);
                }
            });
        }

        function flyToCenter(currentCenter) {
            map.flyTo({
                center: currentCenter['geometry']['coordinates'],
                zoom: 15,
                speed: 5,
                curve: 1
            });
        }

        function createPopUp(currentCenter) {
            // Delete previous popups
            let popUps = document.getElementsByClassName('mapboxgl-popup');
            if (popUps[0]) popUps[0].remove();

            // Create new popup
            let popup = new mapboxgl.Popup({ closeOnClick: false })
                .setLngLat(currentCenter['geometry']['coordinates'])
                .setHTML(currentCenter['properties']['description'])
                .addTo(map);
        }

        function filterTime(data, timeStart = null, timeEnd = null) {
            // Get today's day of week (saturday -> 0 ... sunday -> 6)
            let todayDow = (new Date()).getDay();

            // As the data from the gym's website is formatted to start the week on
            // mondays (monday -> 0 ... sunday -> 6), we need
            // to increment today's dow by 1, while keeping into perspective the 0 to 6 range
            todayDow = (todayDow + 6) % 7;

            // Expected time format is minutes
            if (timeStart === null) timeStart = Number.POSITIVE_INFINITY;
            if (timeEnd === null) timeEnd = Number.NEGATIVE_INFINITY;

            data['features'].forEach((feature, idx) => {
                let todayOpeningHours = feature['properties']['openingHours'][todayDow]
                console.log(todayOpeningHours[1], timeStart)

                if (todayOpeningHours[0] > timeStart || todayOpeningHours[1] < timeEnd) {
                    document.getElementById('marker-' + idx).style.display = 'none';
                    document.getElementById('listing-' + idx).style.display = 'none';
                }
            });
        }

        function filterRegion(button, region) {

            // Set all the buttons to not 'active'
            let activeButtons = document.querySelectorAll('.filter-button, .active');
            Array.prototype.forEach.call(activeButtons, (button) => button.classList.remove('active'));

            // Set the pressed button to active
            button.classList.add('active');

            if (region === 'all') {
                let markers = document.getElementsByClassName('marker');
                // Iterate over the NodeList returned by the function 'getElementsByClassName'
                Array.prototype.forEach.call(markers, (marker) => marker.style.display = 'block');
                
                let listings = document.getElementsByClassName('listing');
                Array.prototype.forEach.call(listings, (listing) => listing.style.display = 'block');
            } else {
                let markers = document.getElementsByClassName('marker');
                
                // Iterate over the NodeList returned by the function 'getElementsByClassName'
                Array.prototype.forEach.call(markers, function(marker) {
                    // Hide all the other markers
                    if (! marker.classList.contains(region)) marker.style.display = 'none';
                    // and show only the one selected 
                    else marker.style.display = 'block';
                });
                
                let listings = document.getElementsByClassName('listing');
                Array.prototype.forEach.call(listings, function(listing) {
                    // Hide all the other markers
                    if (! listing.classList.contains(region)) listing.style.display = 'none';
                    // and show only the one selected 
                    else listing.style.display = 'block';
                });
            }
        }
    </script>

</body>

</html>