* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Prioritize the design for mobile phones to make the page load faster on smaller devices */
[class*="col-"] {
    width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
/* [class *= "col-1"]:[class *= "col-6"] { */
    height: 34vh;
}

.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
/* [class *= "col-7"]:[class *= "col-12"] { */
    height: 66vh;
}

@media only screen and (min-width: 768px) {
    /* For desktop */
    [class*="col-"] {
        float: left;
        height: 100vh;
    }
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }
}

@media only screen and (max-width: 768px) {
    .hidable {
        display: none;
    }
}