body {
    background: #0d2134;
    color: #f8f8f8;
    font: 500 20px/26px "robotoblack_italic", sans-serif;;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #fa5333;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.sidebar {
    overflow: hidden;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.heading {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.filters-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    width: 100%;
    display: block;
    overflow: hidden;
}

.filter-button {
    border: 2px solid black;
    border-color: #fa5333;
    background-color: #fa5333;
    color: #fff;
    padding: 2px 4px;
    margin: 2px;
    cursor: pointer;
}

.filter-button:hover {
    background: #fff;
    color: #fa5333;
}

.filter-button.active {
    background: #fff;
    color: #fa5333;
}



.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 8px;
  font-size: 12px;
  font-weight: 900;
  border: none;
}

.date-filter {
  position: relative;
  display: inline-block;
}

.date-filter-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  bottom: 25px;
  z-index: 1;
}

.date-filter-content a {
  color: black;
  padding: 4px 8px;
  text-decoration: none;
  display: block;
}

.date-filter-content a:hover {background-color: #ccc}

.date-filter:hover .date-filter-content {
  display: block;
}

.date-filter:hover .dropbtn {
  background-color: #2980B9;
}



.listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
}

.listings .listing {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px;
    text-decoration: none;
    font-size: 0.625em;
}

.listings .listing:last-child { border-bottom: none; }

.listings .listing .title {
    display: block;
    color: #fff;
    font-weight: 700;
}

.listings .listing .title small { font-weight: 400; }

.listings .listing.active .title,
.listings .listing .title:hover { color: #fa5333; }

.listings .listing.active {
    background-color: #fff;
    color: #0d2134;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #fa5333;
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 10px 5px;

    font-family: "robotoblack_italic", sans-serif;
    font-weight: 900;
    line-height: 1.125;
    color: inherit;
    text-transform: uppercase;
    font-style: italic;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 2px 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.marker {
    background-image: url('../images/markers/dumbell-marker-circle.png');
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    width: 28px;
    height: 28px;
    border-radius: 50%; /* border: none; */
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 400px;
    padding-bottom: 28px;
    /* font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif; */
}

/* .mapboxgl-popup-close-button {
    display: none;
} */

.mapboxgl-popup-content {
    font: 400 12px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 240px;
    color: #000;
    display: block;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}

.mapboxgl-popup-content h3 {
    background: #0d2134;
    color: #fff;
    margin: 0;
    /* display: block; */
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}

.mapboxgl-popup-content p {
    padding: 0 10px;
}

.mapboxgl-popup-content div {
    padding: 0 10px;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #0d2134;
}